<div class="">
    <div class="forgot">

        {{> Component.Auth.LeftSection logo="https://harnishdesign.net/demo/html/oxyy/images/logo-teal.png"
                subtitle="We are glad to see you again!"
                title="Join the largest Designer community in the world."}}

        <div class="forgot-right">
            <div class="signin-link">
                <p>Return to <a href="/login">Sign in</a></p>
            </div>
            <h2 class="form-title">Forgot Password?</h2>

            <form class="signup-form">
                <p class="text-[var(--grey-text)]">Enter the email address or mobile number associated with your account.</p>
                <label>Email Address</label>
                <input type="email" placeholder="Enter Your Email Address">
                <button type="submit" class="submit-btn mt-0">Continue</button>
            </form>

            <div class="divider">
                <hr>
                <span>Or with Email</span>
                <hr>
            </div>

            <div class="social-buttons">
                <a href="#" class="google-btn">
                    <img src="/images/googlelogo.png" alt="">
                    <span>Sign in with Google</span>
                </a>
            </div>

        </div>
    </div>
</div>