<div class="w-1/5 bg-white rounded-xl shadow-xl">
    <aside>
        <ul class="py-2 text-base text-gray-800 space-y-1">
            <li>
                <a href="/dashboard" class="flex rounded-lg items-center px-5 py-4 hover:bg-orange-400 hover:text-white group transition {{#ifEquals activePage 'dashboard'}}bg-orange-400 text-white{{/ifEquals}}">
                    <i class="bi bi-grid mr-3 text-gray-400 group-hover:text-white transition"></i> Dashboards
                </a>
            </li>
            <li>
                <a href="/profile" class="flex rounded-lg items-center px-5 py-4 hover:bg-orange-400 hover:text-white group transition {{#ifEquals activePage 'profile'}}bg-orange-400 text-white{{/ifEquals}}">
                    <i class="bi bi-person-gear mr-3 text-gray-400 group-hover:text-white transition"></i> My profile
                </a>
            </li>
            <li>
                <a href="#" class="flex rounded-lg items-center px-5 py-4 hover:bg-orange-400 hover:text-white group transition">
                    <i class="bi bi-heart mr-3 text-gray-400 group-hover:text-white transition"></i> My favorites (1)
                </a>
            </li>
            <li>
                <a href="/mysavesearches" class="flex rounded-lg items-center px-5 py-4 hover:bg-orange-400 hover:text-white group transition {{#ifEquals activePage 'mysavesearches'}}bg-orange-400 text-white{{/ifEquals}}">
                    <i class="bi bi-folder2-open mr-3 text-gray-400 group-hover:text-white transition"></i> My save searches
                </a>
            </li>
            <li>
                <a href="#" class="flex rounded-lg items-center px-5 py-4 hover:bg-orange-400 hover:text-white group transition">
                    <i class="bi bi-chat-left-text mr-3 text-gray-400 group-hover:text-white transition"></i> Reviews
                </a>
            </li>
            <li>
                <a href="/login" class="flex rounded-lg items-center px-5 py-4 hover:bg-orange-400 hover:text-white group transition">
                    <i class="bi bi-folder-check mr-3 text-gray-400 group-hover:text-white transition"></i> My properties
                </a>
            </li>
            <li>
                <a href="/add-property" class="flex items-center px-5 py-4 bg-white rounded-lg hover:bg-orange-400 hover:text-white group transition {{#ifEquals activePage 'add-property'}}bg-orange-400 text-white{{/ifEquals}}">
                    <i class="bi bi-file-earmark-plus mr-3 text-gray-400 group-hover:text-white transition"></i> Add property
                </a>
            </li>
            <li>
                <a href="/logout" class="flex items-center px-5 py-4 bg-white rounded-lg hover:bg-orange-400 hover:text-white group transition">
                    <i class="bi bi-box-arrow-right mr-3 text-gray-400 group-hover:text-white transition"></i> Logout
                </a>
            </li>
        </ul>
    </aside>
</div>
             