#API

/API/.phpunit.cache
/API/node_modules
/API/Modules/*/node_modules
/API/public/build
/API/public/hot
/API/public/storage
/API/storage/*.key
/API/storage/pail
/API/vendor
/API/.env
/API/.env.backup
/API/.env.production
/API/.phpactor.json
/API/.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
