<!doctype html>
<html lang="en">
{{> Layout.Head}}
<body class="bg-[#F7F7F7]">
{{#if useLayout}}

    {{> Layout.Navbar}}

    {{{ body}}}

    {{> Layout.Footer}}

{{else}}
    {{{body}}}
{{/if}}

{{> Layout.Js}}
</body>
</html>
