<!doctype html>
<html lang="en">
{{> Layout.Head}}

<body class="bg-[#F7F7F7]">
    {{#if useLayout}}

    {{> Layout.Navbar}}

    {{{ body}}}


    {{> Layout.Footer}}

    {{else}}
    {{{body}}}
    {{/if}}

    {{> Layout.Js}}
    {{> Component.NavigationBar}}




</body>
<script type="module" src="/js/headerCounts.js"></script>
<script type="module" src="/js/property.js"></script>
</html>