<main>
    {{>Component.Breadcrumb items=breadcrumbs}}

    {{>Component.ScrollTop}}

    <section class="property-listing py-4">
        <div class="container mx-auto px-4">

            <div class="flex items-center w-full gap-2 py-6 flex-wrap">
                <input type="text" placeholder="Address, City, ZIP..."
                       class="w-full md:w-[38%] px-4 py-3 rounded-lg border border-gray-200 text-gray-700 placeholder-gray-400 focus:outline-none"/>

                <select class="w-[48%] md:w-[11%] px-4 py-3 rounded-lg border border-gray-200 text-gray-700 focus:outline-none">
                    <option value="status">Status</option>
                    <option value="rent">For Rent</option>
                    <option value="sale">For Sale</option>
                </select>

                <select class="w-[48%] md:w-[11%] px-4 py-3 rounded-lg border border-gray-200 text-gray-700 focus:outline-none">
                    <option value="">Type</option>
                    <option value="apartment">Apartment</option>
                    <option value="house">House</option>
                    <option value="villa">Villa</option>
                </select>

                <select class="w-[48%] md:w-[11%] px-4 py-3 rounded-lg border border-gray-200 text-gray-700 focus:outline-none">
                    <option value="">Bath</option>
                    <option value="1">1 Bath</option>
                    <option value="2">2 Baths</option>
                    <option value="3">3+ Baths</option>
                </select>

                <select class="w-[48%] md:w-[11%] px-4 py-3 rounded-lg border border-gray-200 text-gray-700 focus:outline-none">
                    <option value="">Beds</option>
                    <option value="1">1 Bed</option>
                    <option value="2">2 Beds</option>
                    <option value="3">3+ Beds</option>
                </select>

                {{>Component.FilterModal}}

                <button
                        class="bg-orange-400 hover:bg-orange-500 text-white px-6 py-3 rounded-lg font-semibold flex items-center mt-2 md:mt-0">
                    Search
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-2" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M21 21l-4.35-4.35M16.65 16.65A7.5 7.5 0 1116.65 2.5a7.5 7.5 0 010 14.15z"/>
                    </svg>
                </button>
            </div>


            <div class="flex  flex-col lg:flex-row justify-between gap-4 mb-5">
                <h2 class="text-2xl lg:text-4xl font-bold text-[color:var(--text-color)]">
                    Property listing
                </h2>

                <div class="flex flex-wrap items-center gap-2">

                    {{>Component.FilterModal}}
                    <button id="gridViewBtn" class="px-4 grid-btn py-3 rounded-md active-filter" data-view="grid">
                        <i class="bi bi-grid-3x3-gap"></i>
                    </button>

                    <button id="listViewBtn" class=" px-4 py-3 list border border-[var(--border-color)] rounded-md"
                            data-view="list">
                        <i class="fas fa-list text-[color:var(--icon-grey)] "></i>
                    </button>


                    <div class="relative">
                        <button class="flex items-center border border-[var(--border-color)] px-4 py-3 rounded-md">
                            Sort by (Default) <i class="fas fa-chevron-down ml-2"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div id="propertyContainer"
                 class="pt-8 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-7">
                <!--Property List-->
            </div>
        </div>


        <div class="result">
            <div class="text">
                Showing 1-9 of 12 results.
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination mb-0">
                    <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><i
                            class="bi bi-chevron-left"></i></a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#">2</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">20</a></li>
                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><i
                            class="bi bi-chevron-right"></i></a></li>
                </ul>
            </nav>
        </div>
    </section>
</main>