<div class="container gap-6 flex mx-auto px-4 py-[100px]">
{{> Profile.sidebar activePage="mysavesearches"}}

    <div class="bg-white rounded-xl shadow-md  w-4/5 px-7 py-8">
        <h2 class="text-gray-900 font-bold text-2xl ">My Favorites</h2>
        <table class="w-full mt-3">
            <thead class="rounded-lg text-white bg-gray-950 px-2 ">
                <tr class="rounded-lg">
                    <td class="px-2 py-3">Title</td>
                    <td>Parametres</td>
                    <td>Email</td>
                    <td>Date Published</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="px-2 py-3">Title</td>
                    <td>Parametres</td>
                    <td>Email</td>
                    <td>Date Published</td>
                    <td>Delete <i class="bi bi-trash"></i></td>
                </tr>
        </table>
    </div>
</div>