<div class="contact-form">
    <form action="">
        <h1 class="my-2 text-[20px] -mt-2">Contact me</h1>
        <div class="buttons">
            <button type="button" class="call-btn w-full">
                <i class="fa fa-phone"></i> Call
            </button>
        </div>
    </form>
</div>