<div class="pt-8 relative min-h-[480px]">
    <h3 class="mb-4 text-2xl py-7 text-[var(--primary)] font-semibold">{{t "Oxşar elanlarlada bax"}}</h3>
    <div class="similar-properties-grid grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-3" 
         id="similar-properties-container"
         data-add-type="{{currentProperty.add_type}}"
         data-current-property-id="{{currentProperty.id}}">
        
        <div class="absolute inset-70 z-50 flex justify-center items-center bg-white/50" id="similar-cards-loader">
            <span class="loader"></span>
        </div>
    </div>
</div>

