<section id="what-is-nearby">
    <div class="what-is-nearby">
        <h3>{{t "Nearby objects"}}</h3>

        <div class="nearby-info flex flex-wrap gap-6">

            {{#splitArray objects column}}
                <div class="box-feature">
                    {{#each this}}
                    <ul class="nearby-info-list">
                        <li class="feature-item">{{ this.name }}</li>
                    {{/each}}
                </ul>
                </div>
            {{/splitArray}}
        </div>
    </div>
</section>
