<main>

    <section id="hero"
        class=" mx-auto bg-[url('https://themesflat.co/html/proty/images/section/page-title-loan.jpg')]   bg-top min-h-[370px] flex flex-col justify-center items-center">


        <h2 class="text-center  text-4xl text-black">Home Loan Process
        </h2>
        <div class="navigator">
            <a href="/" class="text-[var(--primary)]">Home</a>
            <span>></span>
            <a href="/about-us" class="text-gray-300 ">About Us</a>
        </div>


    </section>


    <section class="max-w-7xl mx-auto py-[120px]">
        <div class="container mx-auto flex flex-col lg:flex-row items-center justify-between gap-10 px-4">

            <div class="w-full lg:w-1/2">
                <h2 class="text-4xl font-bold text-gray-900 mb-6">We are here to Help</h2>
                <p class="text-gray-600 mb-4">
                    If you haven’t experienced it before, the home loan process can feel overwhelming, but our agents
                    will help you stay informed throughout the process, from pre-approval to closing. The first thing to
                    do is consult with a mortgage specialist. If you don’t already have someone in mind, we partner with
                    some of the best lenders in the industry, and we’d be happy to introduce you, so you’ll be taken
                    care of.
                </p>
                <p class="text-gray-600 mb-6">
                    We stand ready to serve you as your California real estate team.
                </p>
                <button
                    class="bg-[var(--primary)] text-white font-semibold px-7 py-3 rounded-xl hover:bg-[var(--primary-light)] transition">Meet
                    The Team</button>

                <div class="flex flex-col sm:flex-row items-center sm:items-start   gap-10 mt-10 flex-wrap">
                    <div class="flex flex-col gap-4 items-start">
                        <i class="bi bi-house text-[var(--primary)] text-4xl mb-2"></i>
                        <span class="text-4xl font-bold text-gray-900">900+</span>
                        <p class="text-sm text-gray-600">Homes for Sale</p>
                    </div>
                    <div class="flex flex-col gap-4 items-start">
                        <i class="bi bi-person text-[var(--primary)] text-4xl mb-2"></i>
                        <span class="text-4xl font-bold text-gray-900">287+</span>
                        <p class="text-sm text-gray-600">Real Estate Agents</p>
                    </div>
                    <div class="flex flex-col gap-4 items-start">
                        <i class="bi bi-patch-check text-[var(--primary)] text-4xl mb-2"></i>
                        <span class="text-4xl font-bold text-gray-900">3.600+</span>
                        <p class="text-sm text-gray-600">Properties Sold</p>
                    </div>
                </div>
            </div>

            <div class="w-full  lg:w-1/2 relative flex justify-center items-center">
                <div class="relative lg:w-[390px] lg:h-[500px] w-[200px] h-[400px] ">
                    <img src="https://themesflat.co/html/proty/images/section/section-box-team.jpg" alt="room2"
                        class="absolute top-30 left-30 w-full h-full object-cover rounded-2xl transition-all duration-300 hover:z-20 hover:scale-105 shadow-lg">

                    <img src="https://themesflat.co/html/proty/images/section/section-box-team-2.jpg" alt="room1"
                        class="absolute top-0 left-0 w-full h-full object-cover rounded-2xl transition-all duration-300 hover:z-20 hover:scale-105 shadow-lg z-10">
                </div>
            </div>

        </div>
    </section>

    <section class="bg-[#fff7f1] mt-6 ">
        {{> Component.Title title="Selling Your Home With Realty" subtitle="We'll get to know you to understand your
        selling goals, and explain the selling process so
        you know what to expect." }}


        <div class="bg-[#fff7f0] mt-6 py-20 px-4">
            <div class="max-w-7xl mx-auto">

                <div class="flex justify-between items-center relative mb-14 max-w-3xl mx-auto">
                    <div class="flex flex-col items-center text-[var(--primary)] font-bold relative">
                        <div
                            class="border-2 border-dotted border-[var(--primary)] rounded-full w-12 h-12 flex items-center justify-center bg-white z-10">
                            01</div>
                        <span
                            class="absolute top-1/2 left-0 w-full h-px border-t border-dotted border-[var(--primary)] -z-10"></span>
                    </div>
                    <div class="flex flex-col items-center text-[var(--primary)] font-bold relative">
                        <div
                            class="border-2 border-dotted border-[var(--primary)] rounded-full w-12 h-12 flex items-center justify-center bg-white z-10">
                            02</div>
                    </div>
                    <div class="flex flex-col items-center text-[var(--primary)] font-bold relative">
                        <div
                            class="border-2 border-dotted border-[var(--primary)] rounded-full w-12 h-12 flex items-center justify-center bg-white z-10">
                            03</div>
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                    <div class="bg-white rounded-2xl p-8 text-center shadow-sm hover:shadow-md transition">
                        <div class="flex justify-center mb-6">
                            <div
                                class="w-20 h-20 bg-[var(--primary)] rounded-full flex items-center justify-center transform transition-transform duration-500 hover:rotate-x-180">
                                <i class="bi bi-people-fill text-4xl text-white"></i>
                            </div>
                        </div>
                        <h3 class="text-xl font-semibold text-gray-900 mb-3 pt-5">Complete The Questionnaire</h3>
                        <p class="text-sm text-gray-600 mb-6">
                            Your responses will help our partner. Shortly after your lender is selected, they’ll contact
                            you to discuss options for financing your future home.
                        </p>
                        <a href="#" class="pt-5 text-[var(--primary)] font-semibold inline-block relative group">
                            Read More
                            <i class="bi bi-arrow-right ml-1"></i>
                            <span
                                class="block h-0.5 bg-[var(--primary)] absolute left-0 bottom-0 w-0 transition-all duration-300 group-hover:w-full"></span>
                        </a>
                    </div>

                    <div class="bg-white rounded-2xl p-8 text-center shadow-sm hover:shadow-md transition">
                        <div class="flex justify-center mb-6">
                            <div
                                class="w-20 h-20 bg-[var(--primary)] rounded-full flex items-center justify-center transform transition-transform duration-500 hover:rotate-x-180">
                                <i class="bi bi-people-fill text-4xl text-white"></i>
                            </div>
                        </div>
                        <h3 class="text-xl font-semibold text-gray-900 pt-5 mb-3">Get Financial Connections</h3>
                        <p class="text-sm text-gray-600 mb-6">
                            Your responses will help our partner. Shortly after your lender is selected, they’ll contact
                            you to discuss options for financing your future home.
                        </p>
                        <a href="#" class=" pt-5 text-[var(--primary)] font-semibold inline-block relative group">
                            Read More
                            <i class="bi bi-arrow-right ml-1"></i>
                            <span
                                class="block h-0.5 bg-[var(--primary)] absolute left-0 bottom-0 w-0 transition-all duration-300 group-hover:w-full"></span>
                        </a>
                    </div>

                    <div class="bg-white rounded-2xl p-8 text-center shadow-sm hover:shadow-md transition">
                        <div class="flex justify-center mb-6">
                            <div
                                class="w-20 h-20 bg-[var(--primary)] rounded-full flex items-center justify-center transform transition-transform duration-500 hover:rotate-x-180">
                                <i class="bi bi-people-fill text-4xl text-white"></i>
                            </div>
                        </div>
                        <h3 class="text-xl font-semibold text-gray-900 mb-3 pt-5">Receive Your Custom Quote</h3>
                        <p class="text-sm text-gray-600 mb-6">
                            Your responses will help our partner. Shortly after your lender is selected, they’ll contact
                            you to discuss options for financing your future home.
                        </p>
                        <a href="#" class="text-[var(--primary)] pt-5 font-semibold inline-block relative group">
                            Read More
                            <i class="bi bi-arrow-right ml-1"></i>
                            <span
                                class="block h-0.5 bg-[var(--primary)] absolute left-0 bottom-0 w-0 transition-all duration-300 group-hover:w-full"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container mt-6 border border-gray-200  rounded-3xl mx-auto max-w-7xl">

        <section class="container mx-auto max-w-7xl overflow-hidden rounded-t-3xl">
            <div class="relative h-[400px] rounded-t-3xl overflow-hidden">
                <div
                    class="absolute w-full inset-0 bg-[url('https://themesflat.co/html/proty/images/section/section-calculate.jpg')] bg-fixed bg-top  bg-contain bg-no-repeat">
                </div>
            </div>





            <div class="md:w-full space-y-6 p-8">
                {{>Component.DoYouNeedLoan}}
            </div>


        </section>






    </section>

<section class="relative w-7xl flex rounded-3xl mt-6 mx-auto bg-[var(--primary)] px-9 overflow-hidden">

    <div class="absolute inset-0 bg-[url('https://themesflat.co/html/proty/images/section/cta-4.png')] bg-no-repeat bg-left bg-contain opacity-100 pointer-events-none z-10"></div>

    <div class="relative z-20 flex flex-1 justify-between items-center w-full">
        <div class="left text-white max-w-xl ">
             <div class="logo">
                {{#if setting.logo}}
                <img src="{{setting.logo}}" class="w-[170px] h-[50px]" alt="">
                {{/if}}


            </div>
            <h2 class="text-4xl mt-5 font-bold">Find a Local Real Estate Agent Today</h2>
            <p class="my-4">If you’re looking to buy or sell a home. We’ll help you make the most money possible.</p>
            <button class="bg-white text-[var(--primary)] px-6 py-4 rounded-xl font-semibold hover:bg-gray-100 transition mt-6">Find your Location agent</button>
        </div>
        <div class="right">
            <img src="https://themesflat.co/html/proty/images/section/person-2.png" alt="">
        </div>
    </div>
</section>



</main>

<style>
    .hover\:rotate-x-180:hover {
        transform: rotateY(180deg);
    }
</style>