
<main>

    <section id="hero" class=" mx-auto bg-[url('https://themesflat.co/html/proty/images/section/page-title-loan.jpg')]   bg-top min-h-[370px] flex flex-col justify-center items-center">

       
        <h2 class="text-center  text-4xl text-black">Home Loan Process
        </h2>
        <div class="navigator">
            <a href="/" class="text-[var(--primary)]">Home</a>
            <span>></span>
            <a href="/about-us" class="text-gray-300 ">About Us</a>
        </div>
       

    </section>

</main>